<%- include('includes/head.ejs') %>
</head>
<body>

  <%- include('includes/navigation.ejs') %>

  <div class="div">
      <h1 class="about">About us</h1>
      <p class="para">Donors are connected to a machine that separates platelets and some plasma from the blood and returns the red cells (and most of the plasma) back to the donor. Donating platelets takes approximately 90 minutes. You can donate platelets every 7 days, up to 24 times a year.</p>
  </div>
  <h1 class="greet">Thank you</h1>
  
  <%- include('includes/end.ejs') %>