<%- include('includes/head.ejs') %>

</head>
<body>
  <%- include('includes/navigation.ejs') %>

      <div class="cont">
          <h1 class="contact">Contact Us</h1>
      <div class="call">
          <li class="email"><a  class ="gmail"href="">tarunarawat2218@gmail.com</a></li>
          <li class="email"> <a class="gmail" href="">1234567890</a></li>
          <li class="email"> <a class="gmail" href="">H.no-300</a></li>
          <li class="email"><a class="gmail" href="">Noida, Uttar Pradesh</a></li>
        </div>
    </div>
    <div class="social">
    <span class="spanspace"><i class="fab fa-facebook-square fa-5x"></i></span>
    <span class="spanspace"><i class="fab fa-instagram fa-5x"></i></span>
    <p class="p1">© Copyright 2022 BloodDonation</p>
</div>

<%- include('includes/end.ejs') %>