<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <%- include('includes/navigation.ejs') %>

      <div class="cont">
          <h1 class="contact">Contact Us</h1>
      <div class="call">
          <li class="email"><a  class ="gmail"href="https://www.gmail.com">tarunarawat2218@gmail.com</a></li>
          <li class="email"> <a class="gmail" href="">1234567890</a></li>
          <li class="email"> <a class="gmail" href="">H.no-300</a></li>
          <li class="email"><a class="gmail" href="https://www.googlemaps.com">Noida, Uttar Pradesh</a></li>
        </div>
    </div>
    <div class="social">
    <span class="spanspace"><i class="fab fa-facebook-square fa-5x"></i></span>
    <span class="spanspace"><i class="fab fa-instagram fa-5x"></i></span>
    <p class="p1">© Copyright 2022 BloodDonation</p>
</div>

<%- include('includes/end.ejs') %>