<%- include('includes/head.ejs') %>
</head>
<body>

  <%- include('includes/navigation.ejs') %>

      <div>
      <form class="row g-3" method="post" action="/submit">
    <div class="col-md-6">
      <label for="inputName4" class="form-label">Name</label>
      <input type="text" class="form-control" id="inputName4" name="name">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputemail4" name="email"> 
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control" id="inputAddress" name="address">
    </div>
    
    <div class="col-md-6">
      <label for="inputGender" class="form-label">Gender</label>
      <input type="text" class="form-control" id="inputGender" name="gender">
    </div>
    <div>
    <select class="form-select" aria-label="Default select example">
        <option selected>Your Blood Group</option>
        <option value="1">A+</option>
        <option value="2">A-</option>
        <option value="3">B+</option>
        <option value="1">B-</option>
        <option value="2">O+</option>
        <option value="3">O-</option>
        <option value="1">AB+</option>
        <option value="2">AB-</option>
      </select>
      </div>
      <div class="form-check">
          <h5>Any Diseases</h5>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="diseases">
        <label class="form-check-label" for="flexCheckDefault">
          Yes
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked name="no">
        <label class="form-check-label" for="flexCheckChecked">
          No
        </label>
      </div>
      <h5>Any Allergies</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Yes
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked name="yes">
        <label class="form-check-label" for="flexCheckChecked">
         No
        </label>
      </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  </div>

  <%- include('includes/end.ejs') %>