<%- include('includes/head.ejs') %>
</head>
<body>
  <%- include('includes/navigation.ejs') %>

      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://source.unsplash.com/1400x350/?blood,donation" class="d-block w-100" alt="">
          </div>
        </div>
        
      </div>
      <div class = "home">  
        <h1 class="donate">Donate Blood</h1>
      <p class="blood">You need a big heart and free mind for blood donation and not money and strength"<br>
        "Every drop of blood is like a breath for someone! Donate blood"<br>
        "Never refuse to donate blood if u can, as you may be the next needy"<br>
        "Blood donation never asks to be rich or poor, any healthy person can donate blood”<br>
       
         A life may depend on a gesture from you, you can save many lives with a bottle of blood. </p>
      </div>

      <%- include('includes/end.ejs') %>