<%- include('includes/head.ejs') %>
</head>
<body>
  <%- include('includes/navigation.ejs') %>

      <div class="background">
    <div>
      <img class="d-block img-fluid mx-auto" src="/images/image.jpeg" alt="Bootstrap" width="256" height="204">
      </div>
      <center>
      <div class="select">
      <select class="form-select" aria-label="Default select example">
        <option selected>Your Blood Group</option>
        <option value="1">A+</option>
        <option value="2">A-</option>
        <option value="3">B+</option>
        <option value="4">B-</option>
        <option value="5">O+</option>
        <option value="6">O-</option>
        <option value="7">AB+</option>
        <option value="8">AB-</option>
      </select>
    </div>
      <div>
      <button type="submit" class="btn btn-danger">Search</button>
      </div>
    </center>
    </div>
    <%- include('includes/head.ejs') %>
