<%- include('includes/head.ejs') %>
</head>
<body>
  <%- include('includes/navigation.ejs') %>
  <!--<% (if prods.length > 0) { %> -->
  <div>
    <!-- <% for (let groups of prods) { %> -->
       <!-- <h1><%= groups.title %></h1> -->
       <h1>Sucess</h1>
      </div>
 <!-- <% } else {%> -->
   <h1>No Group Found</h1>
 <!-- <%}%> -->

      <%- include('includes/head.ejs') %>